## Formating the data
- making a data frame with the columns and then splitting on the open space

In [16]:
import pandas as pd 

data = pd.DataFrame(['2024-01-01 12:48:41',
                     '2024-01-02 12:54:14',
                     '2024-01-03 12:06:53',
                     '2024-01-04 12:14:17',
                     '2024-01-05 12:42:39',
                     '2024-01-06 12:36:27' ], columns=['Date/Time'])

data['Date/Time'].str.split(' ')

0    [2024-01-01, 12:48:41]
1    [2024-01-02, 12:54:14]
2    [2024-01-03, 12:06:53]
3    [2024-01-04, 12:14:17]
4    [2024-01-05, 12:42:39]
5    [2024-01-06, 12:36:27]
Name: Date/Time, dtype: object

#### splitting up the date and the time into two different columns
- then splitting the date into year, month, day
- then splitting the year into hour, minute, second

In [17]:
data['Date'], data['Time'] = zip(*data['Date/Time'].str.split(' '))
data

             Date/Time        Date      Time
0  2024-01-01 12:48:41  2024-01-01  12:48:41
1  2024-01-02 12:54:14  2024-01-02  12:54:14
2  2024-01-03 12:06:53  2024-01-03  12:06:53
3  2024-01-04 12:14:17  2024-01-04  12:14:17
4  2024-01-05 12:42:39  2024-01-05  12:42:39
5  2024-01-06 12:36:27  2024-01-06  12:36:27

In [18]:
data['Year'], data['Month'], data['Day'] = zip(*data['Date'].str.split('-'))
data['Hour'], data['Minute'], data['Second'] = zip(*data['Time'].str.split(':'))
data

,Date/Time,Date,Time,Year,Month,Day,Hour,Minute,Second
0,2024-01-01 12:48:41,2024-01-01,12:48:41,2024,01,01,12,48,41
1,2024-01-02 12:54:14,2024-01-02,12:54:14,2024,01,02,12,54,14
2,2024-01-03 12:06:53,2024-01-03,12:06:53,2024,01,03,12,06,53
3,2024-01-04 12:14:17,2024-01-04,12:14:17,2024,01,04,12,14,17
4,2024-01-05 12:42:39,2024-01-05,12:42:39,2024,01,05,12,42,39
5,2024-01-06 12:36:27,2024-01-06,12:36:27,2024,01,06,12,36,27

In [19]:
data['Second'] = data['Second'].apply(int)
data['Minute'] = data['Minute'].apply(int)
data['Hour'] = data['Hour'].apply(int)
data

,Date/Time,Date,Time,Year,Month,Day,Hour,Minute,Second
0,2024-01-01 12:48:41,2024-01-01,12:48:41,2024,01,01,12,48,41
1,2024-01-02 12:54:14,2024-01-02,12:54:14,2024,01,02,12,54,14
2,2024-01-03 12:06:53,2024-01-03,12:06:53,2024,01,03,12,6,53
3,2024-01-04 12:14:17,2024-01-04,12:14:17,2024,01,04,12,14,17
4,2024-01-05 12:42:39,2024-01-05,12:42:39,2024,01,05,12,42,39
5,2024-01-06 12:36:27,2024-01-06,12:36:27,2024,01,06,12,36,27

In [20]:
data['Minute'].sum()

200

In [21]:
# data.apply(lambda x: x['Year'] + x['Month']/12 + x['Day']/(12*30), axis=1) This no worky
data.apply(lambda x: x['Year'][3] + x['Month'][1], axis=1) # seperating out invdividual string characters and joining them together

0    41
1    41
2    41
3    41
4    41
5    41
dtype: object

In [24]:
# Brute force slicing of the strings to get what we want from it 
data['Date/Time'].apply(lambda x: x[8:10])

0    01
1    02
2    03
3    04
4    05
5    06
Name: Date/Time, dtype: object

#### Datetime Format

In [33]:
from datetime import datetime

now = datetime.now()
print(now.month, now.day, ", ", now.year)
print(now.hour, ":", now.minute + now.second/60)

1 31 ,  2024
9 : 9.0

In [32]:
# Convert a date into datetime format
timestamp = datetime(2018, 5, 5, 8, 15, 54)
timestamp.date()
timestamp.time()

datetime.time(8, 15, 54)

In [36]:
# Timezones
import pytz

tz = pytz.timezone('UTC')
tz2 = pytz.timezone('US/Eastern')

print(datetime.now())
print(datetime.now(tz))
print(datetime.now(tz2))

2024-01-31 09:11:32.764701
2024-01-31 16:11:32.764701+00:00
2024-01-31 11:11:32.764701-05:00

In [39]:
# Changes in Time
datetime(2024, 1, 31, 9, 15) - datetime(2000, 12, 29, 5, 17)

datetime.timedelta(days=8433, seconds=14280)

In [41]:
from datetime import timedelta
datetime(2024,1,31) - timedelta(days=8433)

datetime.datetime(2000, 12, 29, 0, 0)

In [46]:
# Datetime to string
str(datetime.now())

datetime.now().strftime("%H:%M:%S %d %h %Y")

'09:22:09 31 Jan 2024'