## Pandas

In [21]:
import pandas as pd 
import numpy as np 

data = {'title': ["The Lion, The Witch, and the Wardrobe", "Prince Caspian", "The Voyage of the Dawn Treader",
                  "The Silver Chair", "The Horse and His Boy", "The Magician's Nephew", "The Last Battle"],
        'Publish Date': [1938, 1940, np.nan, 1946, 1948, 1950, np.nan],
        'Chronilogical Order': [2, 4, 5, 6, 3, 1, 7],
        'Book Rating': [5,5,3,5,4,4.5,5],
        'Movie Release Date': [2006, 2009, 2011, np.nan, np.nan, np.nan, np.nan],
        'Movie Rating': [5, 4, 2.5, np.nan, np.nan, np.nan, np.nan]
        }

narnia_ratings = pd.Series(data['Book Rating'], index=data['title'])
narnia_ratings

The Lion, The Witch, and the Wardrobe    5.0
Prince Caspian                           5.0
The Voyage of the Dawn Treader           3.0
The Silver Chair                         5.0
The Horse and His Boy                    4.0
The Magician's Nephew                    4.5
The Last Battle                          5.0
dtype: float64

In [22]:
narnia_ratings['Prince Caspian']
narnia_ratings.apply(np.sqrt)

The Lion, The Witch, and the Wardrobe    2.236068
Prince Caspian                           2.236068
The Voyage of the Dawn Treader           1.732051
The Silver Chair                         2.236068
The Horse and His Boy                    2.000000
The Magician's Nephew                    2.121320
The Last Battle                          2.236068
dtype: float64

In [23]:
def square(x):
    return x**2

narnia_ratings.apply(square)

The Lion, The Witch, and the Wardrobe    25.00
Prince Caspian                           25.00
The Voyage of the Dawn Treader            9.00
The Silver Chair                         25.00
The Horse and His Boy                    16.00
The Magician's Nephew                    20.25
The Last Battle                          25.00
dtype: float64

In [24]:
narnia_ratings.apply(lambda x: x**2)
# lambda one line equation where you pass in x and return x ** 2 same things as the one above just done in a single line

The Lion, The Witch, and the Wardrobe    25.00
Prince Caspian                           25.00
The Voyage of the Dawn Treader            9.00
The Silver Chair                         25.00
The Horse and His Boy                    16.00
The Magician's Nephew                    20.25
The Last Battle                          25.00
dtype: float64

## Pandas DataFrame

In [25]:
narnia_books = pd.DataFrame(data)
narnia_books

,title,Publish Date,Chronilogical Order,Book Rating,Movie Release Date,Movie Rating
0,"The Lion, The Witch, and the Wardrobe",1938.0,2,5.0,2006.0,5.0
1,Prince Caspian,1940.0,4,5.0,2009.0,4.0
2,The Voyage of the Dawn Treader,NaN,5,3.0,2011.0,2.5
3,The Silver Chair,1946.0,6,5.0,NaN,NaN
4,The Horse and His Boy,1948.0,3,4.0,NaN,NaN
5,The Magician's Nephew,1950.0,1,4.5,NaN,NaN
6,The Last Battle,NaN,7,5.0,NaN,NaN

In [26]:
narnia_books = pd.DataFrame(data, index=data['title'])
narnia_books['Chronilogical Order']

The Lion, The Witch, and the Wardrobe    2
Prince Caspian                           4
The Voyage of the Dawn Treader           5
The Silver Chair                         6
The Horse and His Boy                    3
The Magician's Nephew                    1
The Last Battle                          7
Name: Chronilogical Order, dtype: int64

In [27]:
narnia_books.loc['Prince Caspian']

title                  Prince Caspian
Publish Date                   1940.0
Chronilogical Order                 4
Book Rating                       5.0
Movie Release Date             2009.0
Movie Rating                      4.0
Name: Prince Caspian, dtype: object

In [28]:
narnia_books.columns
narnia_books.columns = ['Title', 'Publish Date', 'Chronilogical Order', 'Book Rating',
       'Movie Release Date', 'Movie Rating']
narnia_books.columns

Index(['Title', 'Publish Date', 'Chronilogical Order', 'Book Rating',
       'Movie Release Date', 'Movie Rating'],
      dtype='object')

In [31]:
#narnia_books.dropna(axis=0, inplace=True)   # Drops every row that has a missing value in it 
narnia_books.drop(['The Voyage of the Dawn Treader', 'The Last Battle'], inplace=True)
narnia_books

KeyError: "['The Voyage of the Dawn Treader', 'The Last Battle'] not found in axis"

In [32]:

narnia_books['Publish Date'] = narnia_books['Publish Date'].astype(int)
narnia_books

,Title,Publish Date,Chronilogical Order,Book Rating,Movie Release Date,Movie Rating
"The Lion, The Witch, and the Wardrobe","The Lion, The Witch, and the Wardrobe",1938,2,5.0,2006.0,5.0
Prince Caspian,Prince Caspian,1940,4,5.0,2009.0,4.0
The Silver Chair,The Silver Chair,1946,6,5.0,NaN,NaN
The Horse and His Boy,The Horse and His Boy,1948,3,4.0,NaN,NaN
The Magician's Nephew,The Magician's Nephew,1950,1,4.5,NaN,NaN

In [34]:
narnia_books.drop('Title', axis=1, inplace=True)

KeyError: "['Title'] not found in axis"

In [35]:
narnia_books

,Publish Date,Chronilogical Order,Book Rating,Movie Release Date,Movie Rating
"The Lion, The Witch, and the Wardrobe",1938,2,5.0,2006.0,5.0
Prince Caspian,1940,4,5.0,2009.0,4.0
The Silver Chair,1946,6,5.0,NaN,NaN
The Horse and His Boy,1948,3,4.0,NaN,NaN
The Magician's Nephew,1950,1,4.5,NaN,NaN