# IMPORT PACKAGES

In [1]:
import pandas as pd

import numpy as np

# LISTS

In [2]:
kyler = [21, "Chinese", 8, 0, "Green", "August", 24]

dusty = [19, "American", 4, 20, "Blue", "December", 1]

kyler[1]

for person in [kyler,dusty]:
    print(person[1])

Chinese
American

# TUPLES

In [3]:
dusty2 = (19, "American")

dusty[0] = 20
dusty

[20, 'American', 4, 20, 'Blue', 'December', 1]

# DICTIONARIES

In [4]:
class_info = {"name": ["Kyler", "Dusty"],
              "age": [21, 19],
              "favorite_food": ["Chinese", "American"],
              "Number_of_Siblings": [8, 4],
              "Number_of_Pets": [0, 20],
              "Favorite_Color": ["Green", "Blue"],
              "Birth_Month": ["August", "December"],
              "Birth_Date": [24, 1]}

class_info['age'][0]

21

# ARRAYS

In [5]:
arr = np.array([1,2,3,4,5,6,7,8,9])
arr

np.mean(arr)

arr.mean()

arr.sum()

arr.std(ddof=0)

arr.std(ddof=1)

2.7386127875258306

In [6]:
matrix = np.array([[1,2,3],[4,5,6],[7,8,9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])