In [87]:
import pandas as pd 

data = pd.read_csv("https://raw.githubusercontent.com/drolsonmi/math3080/main/Datasets/weather_data_hourly.csv", skiprows=25)
data

,D/T,T,DPT,RH,WC,WD,WS,Vis,Wx,Clds,...,Press,Alt,1hrprecip,3hrprecip,6hrprecip,24hrprecip,6hrmax,6hrmin,24hrmax,24hrmin
0,"Jan 22, 11:00 am",45.0,37,76,40.0,SE,8,NaN,NaN,OVC065,...,25.59,29.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Jan 22, 10:00 am",NaN,35,79,34.0,S,13,NaN,NaN,OVC065,...,25.58,29.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Jan 22, 9:00 am",37.0,36,93,NaN,ESE,3,6.0,Mist,OVC060,...,25.58,29.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Jan 22, 8:00 am",34.0,32,93,NaN,ESE,5,6.0,Mist,BKN060,...,25.58,29.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Jan 22, 7:00 am",34.0,32,92,29.0,SSE,6,6.0,Mist,CLR,...,25.56,29.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,"Jan 19, 4:00 pm",NaN,30,60,39.0,NNW,6,NaN,NaN,CLR,...,25.79,30.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,"Jan 19, 3:00 pm",46.0,30,53,NaN,N,6,NaN,NaN,CLR,...,25.81,30.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,"Jan 19, 2:00 pm",50.0,31,48,NaN,N,0,NaN,NaN,CLR,...,25.82,30.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,"Jan 19, 1:00 pm",NaN,28,55,NaN,N,0,NaN,NaN,FEW100,...,25.84,30.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,"Jan 19, 12:00 pm",41.0,28,60,NaN,N,0,NaN,NaN,BKN120,...,25.87,30.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Question 1
* Without filling in any missing values, what is the mean Air Temperature for this dataset?

In [88]:
data['T'].mean()

38.5

# Question 2
- Without filling in any missing values, what is the mean Visibility for this dataset?

In [89]:
data['Vis'].mean()

6.546511627906977

# Question 3
- How mnay missing values are in the Wind Chill column?

In [90]:
data['WC'].isna().sum()

43

# Question 4
- Let's say that you decide to drop variables when more than half of the data is missing. How many columns would need to be dropped?

In [91]:
data.isna().sum()

D/T            0
T             10
DPT            0
RH             0
WC            43
WD             0
WS             2
Vis           29
Wx            52
Clds           0
SLP           72
Press          0
Alt            0
1hrprecip     64
3hrprecip     72
6hrprecip     72
24hrprecip    72
6hrmax        72
6hrmin        72
24hrmax       72
24hrmin       72
dtype: int64

# Question 5
- Look at the Air Temperature column. Which would be the best option to fill those missing vlaues?
* Average
* Forward fill
* Backward fill
* Interpolate
- Do the fill, then report the new average for the Air Tmeperature. Anser to the thousandths place.

In [92]:
# Average  = 38.5
# Forward fill = 38.65277777777778
# Backward fill = 38.5
# Interpolate = 38.576388888888886

data['T'].interpolate().mean()

38.576388888888886

# Question 6
- Look at the Visibility column. Which would be the best option to fill those missing vlaues?
* Average
* Forward fill
* Backward fill
* Interpolate
- Do the fill, then report the new average for the Visibility. Anser to the thousandths place.

In [93]:
# Average  = 6.546511627906977
# Forward fill = 7.164285714285715
# Backward fill = 5.928571428571429
# Interpolate = 6.742857142857143

# data['Vis'].mean()
# data['Vis'].fillna(method='bfill').mean()
data['Vis'].interpolate().mean()

6.742857142857143

# Question 7
- Format the Date/Time column to be in dateime format. Create a column for the date and a column for the time. What was the average temperature for January 19?

In [94]:
data['Date'], data['Time'] = zip(*data['D/T'].str.split(','))
data

,D/T,T,DPT,RH,WC,WD,WS,Vis,Wx,Clds,...,1hrprecip,3hrprecip,6hrprecip,24hrprecip,6hrmax,6hrmin,24hrmax,24hrmin,Date,Time
0,"Jan 22, 11:00 am",45.0,37,76,40.0,SE,8,NaN,NaN,OVC065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 22,11:00 am
1,"Jan 22, 10:00 am",NaN,35,79,34.0,S,13,NaN,NaN,OVC065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 22,10:00 am
2,"Jan 22, 9:00 am",37.0,36,93,NaN,ESE,3,6.0,Mist,OVC060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 22,9:00 am
3,"Jan 22, 8:00 am",34.0,32,93,NaN,ESE,5,6.0,Mist,BKN060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 22,8:00 am
4,"Jan 22, 7:00 am",34.0,32,92,29.0,SSE,6,6.0,Mist,CLR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 22,7:00 am
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,"Jan 19, 4:00 pm",NaN,30,60,39.0,NNW,6,NaN,NaN,CLR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 19,4:00 pm
68,"Jan 19, 3:00 pm",46.0,30,53,NaN,N,6,NaN,NaN,CLR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 19,3:00 pm
69,"Jan 19, 2:00 pm",50.0,31,48,NaN,N,0,NaN,NaN,CLR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 19,2:00 pm
70,"Jan 19, 1:00 pm",NaN,28,55,NaN,N,0,NaN,NaN,FEW100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 19,1:00 pm
71,"Jan 19, 12:00 pm",41.0,28,60,NaN,N,0,NaN,NaN,BKN120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan 19,12:00 pm

In [95]:
data['T'].where(data['Date'] == "Jan 19").mean()

39.55555555555556

# Question 8 
- Was January 19 warmer or colder than the rest of the days in this dataset?

In [96]:
data['T'].where(data['Date'] == "Jan 19").mean()
# 39.55555555555556
data['T'].mean()
# 38.5

38.5

# Question 9
- The coldest time of day is generally 6:00 am, just before sunrise. What was the 6:00 am average temperature for this period?

In [115]:
data[data['Time'].str.contains('6:00 am')]['T'].mean()

32.333333333333336

# Question 10
- If you used inplace=True earler, you will want to reload the data from scratch for the rest of these quests. What ws the average visibility for Januarty 22? Anser to the nearest thousandth decimal place.

In [98]:
data
data['Vis'].where(data['Date'] == "Jan 22").dropna().mean()

6.666666666666667

# Question 11
- Fill in the missing values for January 22 with the average visibility for the entire dataset. What is the new average visibility for January 22? Answer to the nearst thousandth decimal place. (Use inplace=False so we don't mess up the data for the next question)

In [102]:
data['Vis'].fillna(data['Vis'].dropna().mean()).mean()

6.546511627906977

# Question 12
- Fill in the missing values for January 22 with the average visibility for only January 22. What is the new average visibility for January 22? Anser to the nearest thousandth decimal place.

In [104]:
data['Vis'].fillna(data['Vis'].where(data['Date'] == "Jan 22").dropna().mean(), inplace=False).mean()

6.594907407407407

# Question 13
- Which fill method brought the average visibilty closest to the original from Question 10

In [107]:
data['Vis'].where(data['Date'] == "Jan 22").dropna().mean()
# 6.666666666666667
data['Vis'].fillna(data['Vis'].dropna().mean()).mean()
# 6.546511627906977
data['Vis'].fillna(data['Vis'].where(data['Date'] == "Jan 22").dropna().mean(), inplace=False).mean()
# 6.594907407407407

6.594907407407407